.loginBtn{
    padding: 5px 0px 5px 0px;
    background-color: #25f051;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    border: none;
    display: block;
    margin: auto;
    margin-top: 10px;
    /* background-color:  */
}
.loginBtn a{
    text-decoration: none;
    font-weight: bold;
}

.logo{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

